html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
}
.page {
    width: 100vw;
    height: 100vh;
    display: table;
}

#secondPage {
	width: 100%;
    height: 100%;
    display: table;
   background-color: red;
}
.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.contents2 {
    display: table-cell;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

#content-text {
    font-weight: bold;
    font-size: 5em;
    color: #ff0000;
}

img.ui-header{
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.ui-content{
	margin: 0 auto;
	text-align: center;
}
.ui-footer{
	margin-top:5px;
	text-align: center;
}

@font-face{
	font-family:pokemonclassic;
	src: url(../Fonts/PokemonClassic.ttf);
}

p, h2{
	font-family:pokemonclassic;
	color: black;
}
.retro {
    font-family:pokemonclassic;
	color: black;
}

/*--------------------------- color de los divs de titulo de las tablas      -*/    
.rojo{
	background-color:red;
}


/*---------------------------- MEDIA QUERY PARA TAMAÑOS MAYORES DEL TLF -----------------------*/

@media (max-width: 768px) {

    /*titulo del pokemon*/
    p {font-size: 40% !important ;} 

    /*add to every pokemon and change to 0 on html*/
    .titleP {
        margin-top: 0% !important;
    }

    /*sprite-> añadir a cada poke */
    .sprite {width: 5vw !important ;}

    /* adjust font size for movements añadir a cada poke*/ 
    .pcdiv {
        font-size: 15% !important;
    }

    /* clase para ocultar saltos de linea  -> añadir a cada poke*/
   .none {
    display: none !important;
   }

   /* change margin top to 4% on each pokemon */
   .back {
    position: relative !important;
    margin-left:70% !important;
    margin-top:5px !important;
    background-color:aqua;
    float:left;
    font-size:30% !important;
   }

   /*add to each h1 on footer and remove div container from h1 */
   .footer {
    max-width: fit-content !important;
    font-size: 30% !important;
    background-color: #222222 !important;
    margin-top: 0px !important;
    }

    html, body {
        width: 50%;
       /* height: 100%; */
        margin: 0 auto;
        padding: 0;
        background-color: #222222;
        color: #ffffff;
    }

    html {
        background-color: blue;
    }

    .page {
        width: 50%;
        height: 50%;
        display: table;
    }

    
#secondPage {
	width: 50%;
    height: 50%;
    display: table;
   background-color: red;
}
.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.contents2 {
    display: table-cell;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

#content-text {
    font-weight: bold;
    font-size: 0.5em;
    color: #ff0000;
}

.ui-header{
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: relative; /* Hacemos que la cabecera tenga una posición fija */
}

    /*----------------------estilos fijos de cada página de pokemon -----------------*/

    /*
  table, thead, tbody {
    width: 10% !important;
    font-size: 10% !important;
  } */
    
.pokemon-table {
    width: 50% !important; 
    margin: 5% !important;
    margin: 20px 5%;
    border-collapse: colapse;
    font-size: 20% !important; 
    color: black;
}

.pokemon-table th,
.pokemon-table td {
    border: 1px solid white;
    padding: 1% !important;
    text-align: center;
   /* font-size: 10% !important; */
}

.header-bg {
    background-color: red;
    color: white;
}

.data-bg {
    background-color: whitesmoke;
}*/

div {
    font-size: 50% ;
   
}
    
  }
  